aioredis
asgiref
async-timeout
attrs
autobahn
Automat
cffi
channels~=4.0.0
channels-redis
Click
constantly
cryptography
daphne
dash~=2.9.3
dash-core-components
dash-html-components
dash-renderer
dash-table
Django~=4.2.7
django-plotly-dash
django-redis
dpd-components
Flask
Flask-Compress
future
hiredis
hyperlink
idna
incremental
itsdangerous
Jinja2
MarkupSafe
msgpack
plotly~=5.18.0
psycopg2-binary
pycparser
PyHamcrest
pytz
redis
retrying
six
sqlparse
Twisted
txaio
Werkzeug
zope.interface
pandas~=2.1.3
gTTS
pyttsx3~=2.90
openai~=1.3.7
requests~=2.31.0